@charset "utf-8";
/* CSS Document */

@media(max-width:1024px) {
.mapslider {
	left: 9%;
	top: 8px;
}
.mapslider img {
	width: 74%;
}
.textarea-box {
	margin: 15px 0 0;
}
.button-form {
	margin: 16px 0 0;
}
.star-right h1 {
	margin: 0 0 7px;
}
.featuredBlogPost {
	height: 438px;
}
.footer-one h4 {
	font-size: 25px;
}
.textarea {
	height: 80px !important;
}
.form-index-bg {
	background: rgba(0, 0, 0, 0.46) none repeat scroll 0 0;
	margin: 40px 0;
	padding: 0;
	position: absolute;
	right: 8%;
	top: 0;
	width: 95%;
	z-index: 9;
}
}
 @media(max-width:980px) {
.block1 h1 {
	font-size: 17px;
}
.clear {
	clear: both;
}
.featuredBlogPost .minorArrow {
	width: auto;
}
.minorFeaturedPost .minorArrow {
	width: auto;
}
.marginbot15 {
	margin-bottom: 15px;
}
.minorFeaturedPost {
	margin-bottom: 1.9%;
}
.pull-right {
	float: none !important;
}
.form-index-bg {
    background: rgba(0, 0, 0, 0.46) none repeat scroll 0 0;
    left: 50%;
    margin: 20px 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: 48%;
}
.mapslider {
	left: 1%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 7px;
	width: auto;
}
.mapslider img {
	width: 80%;
}
.textarea {
	height: 60px !important;
}
.textarea-box {
	width: 100%;
	margin-top: 10px;
}
.State-Highlights {
	padding: 26px 30px 20px;
}
.button-form {
	margin: 8px 0 0;
}
.State-Highlights h1 {
	font-size: 20px;
}
}
 @media(max-width:900px) {
.block1 h1 {
	font-size: 17px;
}
.clear {
	clear: both;
}
.featuredBlogPost .minorArrow {
	width: auto;
}
.minorFeaturedPost .minorArrow {
	width: auto;
}
.marginbot15 {
	margin-bottom: 15px;
}
.minorFeaturedPost {
	margin-bottom: 1.9%;
}
.pull-right {
	float: none !important;
}
.form-index-bg {
	background: rgba(0, 0, 0, 0.46) none repeat scroll 0 0;
	left: 40%;
	margin: 20px 0;
	padding: 0;
	position: absolute;
	right: 0;
	width: 57%;
}
.mapslider {
	left: 1%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 7px;
	width: auto;
}
.mapslider img {
	width: 63%;
}
.textarea {
	height: 60px !important;
}
.textarea-box {
	width: 100%;
	margin-top: 10px;
}
.State-Highlights {
	padding: 26px 30px 20px;
}
.button-form {
	margin: 8px 0 0;
}
.State-Highlights h1 {
	font-size: 20px;
}
}
 @media(max-width:800px) {
.block1 h1 {
	font-size: 17px;
}
.clear {
	clear: both;
}
.featuredBlogPost .minorArrow {
	width: auto;
}
.minorFeaturedPost .minorArrow {
	width: auto;
}
.marginbot15 {
	margin-bottom: 15px;
}
.minorFeaturedPost {
	margin-bottom: 1.9%;
}
.pull-right {
	float: none !important;
}
.form-index-bg {
	background: rgba(0, 0, 0, 0.46) none repeat scroll 0 0;
	left: 40%;
	margin: 20px 0;
	padding: 0;
	position: absolute;
	right: 0;
	width: 57%;
}
.mapslider {
	left: 1%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 7px;
	width: auto;
}
.mapslider img {
	width: 63%;
}
.textarea {
	height: 40px !important;
}
.textarea-box {
	width: 100%;
	margin-top: 10px;
}
.State-Highlights {
	padding: 9px 30px 0px;
}
.button-form {
	margin: 8px 0 0;
}
.State-Highlights h1 {
	font-size: 20px;
}
}
 @media(max-width:768px) {
.block1 h1 {
	font-size: 17px;
}
.clear {
	clear: both;
}
.featuredBlogPost .minorArrow {
	width: auto;
}
.minorFeaturedPost .minorArrow {
	width: auto;
}
.marginbot15 {
	margin-bottom: 15px;
}
.minorFeaturedPost {
	margin-bottom: 1.9%;
}
.pull-right {
	float: none !important;
}
.form-index-bg {
	background: rgba(0, 0, 0, 0.46) none repeat scroll 0 0;
	left: 40%;
	margin: 20px 0;
	padding: 0;
	position: absolute;
	right: 0;
	width: 57%;
}
.mapslider {
	left: 1%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 7px;
	width: auto;
}
.mapslider img {
	width: 63%;
}
.textarea {
	height: 40px !important;
}
.textarea-box {
	width: 100%;
	margin-top: 10px;
}
.State-Highlights {
	padding: 9px 30px 0px;
}
.button-form {
	margin: 8px 0 0;
}
.State-Highlights h1 {
	font-size: 20px;
}

}
 @media(max-width:767px) {
.mobdispaly {
	display: none;
}
.display {
	display: block;
}
.mapslider {
	left: auto;
	margin: 0 auto;
	padding: 0;
	position: relative;
	right: auto;
	top: 25px;
	width: 100%;
}
.mapslider img {
	width: 100%;
}
.form-index-bg {
	background: #000 none repeat scroll 0 0;
	left: auto;
	margin: 8% 0 0 0;
	padding: 0;
	right: auto;
	position: relative;
	top: 0;
	width: 100%;
}
.State-Highlights {
	padding: 20px 30px 35px;
}
.State-Highlights-inner ul li {
	color: #ffffff;
	font-size: 14px;
	margin: 0 0 24px;
}
.textarea-box {
	width: 100%;
}
.button-form {
	margin: 23px 0 0;
}
.wrap-catagory .title-head, .wrap-form-property .title-head {
	padding-bottom: 27px;
}
.pdt60 {
	padding-top: 15px;
}
.block1 {
	margin: 0 0 28px;
}
.clear {
	clear: both;
}
.star-right {
	margin: 0 0 0 10px;
}
.usps-box{ display:none !important;}
}
 @media(max-width:480px) {
.wrap-catagory .title-head h3, .wrap-form-property .title-head h3 {
	font-size: 28px;
}
.feature h3 {
	font-size: 28px;
}
.testimonial-section .section-title h3 {
	font-size: 28px;
}
}
 @media(max-width:412px) {
.wrap-catagory .title-head h3, .wrap-form-property .title-head h3 {
	font-size: 28px;
}
.feature h3 {
	font-size: 28px;
}
.testimonial-section .section-title h3 {
	font-size: 28px;
}
}
 @media(max-width:375px) {
.wrap-catagory .title-head h3, .wrap-form-property .title-head h3 {
	font-size: 28px;
}
.feature h3 {
	font-size: 28px;
}
.testimonial-section .section-title h3 {
	font-size: 28px;
}
}
 @media(max-width:360px) {
.wrap-catagory .title-head h3, .wrap-form-property .title-head h3 {
	font-size: 28px;
}
.feature h3 {
	font-size: 28px;
}
.testimonial-section .section-title h3 {
	font-size: 28px;
}
}
 @media(max-width:320px) {
.star-right {
	margin: 0 0 0 2px;
}
.wrap-catagory .title-head h3, .wrap-form-property .title-head h3 {
	font-size: 28px;
}
.feature h3 {
	font-size: 28px;
}
.testimonial-section .section-title h3 {
	font-size: 28px;
}
}
